<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ad54eaee-2f49-4930-9b12-0fd6dc895538/resourceGroups/ahmetgkdmr96/providers/Microsoft.Web/sites/UnitedPayment</ResourceId>
    <ResourceGroup>ahmetgkdmr96</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://unitedpayment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>unitedpayment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UnitedPayment</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$UnitedPayment</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>